<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redis.mapper.UserMapper">

    <cache type="com.redis.cache.MybatisRedisCache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="6000000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>

    <resultMap id="BaseResultMap" type="com.redis.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM user;
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id};
    </select>

    <insert id="addOne">
        INSERT INTO user(name,sex,age) VALUES (#{name},#{sex},#{age})
    </insert>

    <update id="updateOne">
        UPDATE user set name = #{name},sex = #{sex},age = #{age} WHERE id = #{id}
    </update>

    <delete id="delOne">
        DELETE FROM user WHERE id = #{id}
    </delete>


</mapper>